.catalog-items__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.catalog-items__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.catalog-items__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.production-process__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.production-process__content {
  font-weight: 400;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
}

.production-process__play-button {
  font-size: 0;
}
