.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__item--info {
  width: 30%;
}

.contacts__item--mail {
  text-decoration: underline;
  color: #46c1ae;
}

.contacts__item--mail-text {
  color: black;
}

.contacts__text-wrapper {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.contacts__email {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

.contacts__address {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

.contacts__item--info-address {
  width: 30%;
}

.contacts__item--address {
  width: 60%;
}

@media (min-width: 768px) {
  .map-img {
    background: url("../../img/map-tablet@1x.jpg");
    width: 768px;
    height: 457px;
  }

  .contacts__text-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__title {
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .contacts {
    width: 1050px;
  }

  .map-img {
    background: url("../../img/map-desktop@1x.jpg");
    width: 525px;
    height: 457px;
  }
}
