.form-item__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.radio__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.checkbox__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.user-info__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.main-form__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form__button {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
}
