body {
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
