.page-main__no-index {
  width: calc(100%);
}

@media (min-width: 768px) {
  .page-main--index {
    position: relative;
    top: -40px;
    //margin-top: -40px; ie
    border-top: #e7e7e7 1px solid;
  }

  .page-main--noindex {
    position: relative;
    top: -40px;
    //margin-top: -41px; ie
  }
}

@media (min-width: 1250px) {
  .page-main {
    top: -75px;
    //margin-top: -75px; ie
    border-top: #e7e7e7 1px solid;
  }
}
