.page-footer {
  background-color: #f1f1f1;
}

.footer__social-list {
  list-style: none;
}

.footer_social-item--fb {
  font-size: 0;
}

.footer_social-item--inst {
  font-size: 0;
}

.footer_social-item--twit {
  font-size: 0;
}

.footer__studio {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.footer__develop-logo svg {
  width: 27px;
  height: 34px;
}

