.page-footer {
  background-color: #f1f1f1;
  width: 100%;
}

.page-footer__social-list {
  width: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 23px auto 0 auto;
  border-bottom: #e5e5e5 1px solid;
  padding-bottom: 13px;
}

.footer_social-item--fb {
  font-size: 0;
}

.footer_social-item--inst {
  font-size: 0;
}

.footer_social-item--twit {
  font-size: 0;
}

.page-footer__academy {
  margin: 0 auto;
  padding-bottom: 22px;
  padding-top: 19px;
  width: 185px;
}

.page-footer__develop {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  padding-right: 25px;
}

.page-footer__develop-logo {
  padding-left: 25px;
  width: 27px;
  height: 34px;
}

.page-footer__academy svg {
  fill: #63d1bb;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__link {
  display: flex;
  align-items: center;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active {
    color: #a8a8a8;

    svg {
      fill: #bde3dd;
    }
  }
}

.page-footer__social-link svg {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}

@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    width: 27%;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #bde3dd;
    }
  }

  .page-footer__wrapper {
    width: 668px;
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
    padding: 52px 50px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 54px;
  }

  .page-footer__social-list {
    margin: 0;
    border: none;
    width: 28%;
    padding-top: 7px;
    padding-left: 77px;
  }

  .page-footer__academy {
    width: 27%;
    padding: 0;
    padding-left: 68px;
    padding-top: 4px;
    padding-right: 2px;
  }
}

@media (min-width: 1250px) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 45px 50px;
  }

  .page-footer__social-list {
    width: 18%;
    padding: 0;
    margin-left: 249px;
  }

  .page-footer__logo {
    width: 18%;
  }

  .page-footer__academy {
    width: 18%;
    padding: 0;
    margin-left: 234px;
  }
}
