.product-item__name {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.product-item__product-of-week {
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-item__description-of-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-item_table {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-item__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
