.products-item {
  //position: relative;
  //display: flex;
  //flex-wrap: wrap;
  //margin: 0 auto;
  width: 260px;
  margin: 0 auto;
}

.products-item__title {
  width: 260px;
  //margin: 0 auto;
  margin-top: 35px;
}

.products-item__name {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.products-item__product-of-week {
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.products-item__description-of-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin-top: 35px;
}

.products-item_table {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  border-spacing: 0;
  width: 260px;
}

.products-item_table-item td {
  border-bottom: #ececec 1px solid;

  &:nth-child(1) {
    padding-right: 25px;
  }
}

.products-item__buy {
  text-align: center;
}

.button-link {   //!!!
  padding: 18px 33%;
  border: #444444 1px solid;
}

.products-item__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 35px;
}

.products-item__pic img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .products-item {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  .products-item__title {
    width: 668px;
    display: inline-flex;
    justify-content: space-between;
  }

  .products-item__description-of-item {
    width: 335px;
  }

  .products-item__name {
    font-size: 43px;
    line-height: 50px;
  }

  .products-item__product-of-week {
    width: 80px;
    line-height: 17px;
  }

  .products-item__img {
    width: 333px;
    height: 404px;
  }

  .products-item_table {
    width: 334px;
  }

  .products-item__buy {
    width: 334px;
    margin-top: -125px;
  }

  .products-item__pic {
    width: 50%;
    //margin-top: -80px;
  }

  .test_1 {
    width: 50%;
  }
}

@media (min-width: 1250px) {
  .products-item__img {
    width: 525px;
    height: 636px;
  }

  .products-item {
    width: 875px;
  }

  .products-item__title {
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 5;
  }

  .products-item__description-of-item {
    width: 60%;
  }

  .products-item_table {
    width: 50%;
  }

  .products-item__pic {
    margin-top: -80px;
  }

  .products-item__name {
    font-size: 53px;
    line-height: 57px;
  }
}
