.page-main {
  min-width: 320px;
}

.products__wrapper {
  width: 100%;
  background: #f9f9f9 url("../../img/hero-mobile@1x.jpg") no-repeat center top;
  //position: relative;
}

//.products__title {
//  background: #f9f9f9 url("../../img/hero-mobile@1x.jpg") no-repeat center top;
//  width: 320px;
//  height: 370px;
//  margin-top: 0;
//}

.products__title-text {
  width: 260px;
  margin: 75px auto 135px auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.products-list {
  //width: 320px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  width: 320px;
}

.products-list_item {
  padding: 25px 15px;
  //position: relative;
  display: inline-flex;
  width: 90%;
  //margin: 0 auto;
}

.products-list__container {
  display: block;
  width: 260px;
  margin: 0 auto;
}

//.products-list img {
//  opacity: 0.2;
//  position: absolute;
//  left: 109px;
//  top: 23px;
//}

.products-list_item-link {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  //position: relative;
  display: block;
  width: 180px;
}

.products-list_item--interior {
  background-color: #63d1bb;
}

.products-list_item-link--interior {
  position: relative;
}

.products-list_item-link--interior-icon {
  width: 40px;
  height: 62px;
  position: absolute;
  top: -6px;
  right: -65px;
  opacity: 0.2;
}

//.products-list_item-link--interior::before {
//  content: "";
//  display: block;
//  width: 40px;
//  height: 62px;
//  background: url("../../img/icon-interior.svg");
//  opacity: 0.2;
//  position: absolute;
//  left: 240px;
//}

//.products-list_item-link--toys::before {
//  content: "";
//  width: 60px;
//  height: 60px;
//  background: url("../../img/icon-toy.svg");
//  opacity: 0.2;
//  position: absolute;
//  left: 230px;
//}

.products-list_item--toys {
  background-color: #56c3b2;
}

.products-list_item-link--toys {
  position: relative;
}

.products-list_item-link--toys-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -6px;
  right: -90px;
  opacity: 0.2;
}

.page-main__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .products__wrapper {
    background: #f9f9f9 url("../../img/hero-tablet.jpg") no-repeat center;
    height: 745px;
    position: relative;

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 23px;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
      z-index: 50;
    }
  }

  .products-list {
    width: 668px;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }

  .products__title-text {
    width: 620px;
    padding-bottom: 242px;
    padding-top: 76px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: #000000;
    text-align: center;
  }

  .products-list_item {
    padding: 35px 15px;
  }
}

@media (min-width: 1250px) {
  .products__wrapper {
    background: #f9f9f9 url("../../img/hero-desktop@1x.jpg") no-repeat center;
    min-width: 1150px;
    min-height: 745px;
  }

  .products-list {
    width: 1050px;
  }

  .products-list__container {
    width: 100%;
    margin-left: 0;
  }

  .products-list_item-link {
    display: inline-flex;
    width: 85%;
  }

  .products-list_item-link--interior-icon {
    right: 0;
  }

  .products__title-text {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 228px;
  }
}
