.products-item {
  //position: relative;
  //display: flex;
  //flex-wrap: wrap;
  //margin: 0 auto;
  width: 260px;
  margin: 0 auto;
}

.products-item__title {
  width: 260px;
  //margin: 0 auto;
  margin-top: 35px;
}

.products-item__name {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.products-item__product-of-week {
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.products-item__description-of-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin-top: 35px;
}

.products-item_table {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  border-spacing: 0;
  width: 260px;
}

.products-item_table-item td {
  border-bottom: #ececec 1px solid;

  &:nth-child(1) {
    padding-right: 25px;
  }
}

.products-item__buy {
  text-align: center;
}

.products-item__link-order {
  padding: 18px 33%;
  border: #444444 1px solid;
}

.products-item__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .products-item__title {
    width: 668px;
  }

  .products-item__description-of-item {
    width: 335px;
  }

  .img {
    background: url("../../img/triple-set-tablet.jpg") no-repeat;
    width: 333px;
    height: 404px;
  }

  .products-item {
    width: 668px;
  }

  .products-item_table {
    width: 334px;
  }

  .products-item__pic {
    width: 334px;
  }

  .products-item__buy {
    width: 334px;
  }
}

@media (min-width: 1200px) {
  .img {
    background: url("../../img/triple-set-desktop.jpg") no-repeat;
    width: 525px;
    height: 636px;
  }

  .products-item {
    width: 1050px;
  }

  .products-item__title {
    width: 100%;
  }

  .products-item__description-of-item {
    width: 60%;
  }

  .products-item_table {
    width: 50%;
  }
}
