.reviews {
  width: 260px;
  margin: 0 auto;
  //display: block;
  //background-image: url("../img/bg-zigzag-line.svg");
  //background-position: bottom;
  //background-repeat: repeat-x;
  //background-size: auto 6px;
  //padding-bottom: 50px;
  //z-index: 200;

  &::after {
    display: block;
    content: "";
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 6px;
    padding-bottom: 50px;
    z-index: 200;
  }
}

.reviews__container {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-top: 33px;
}

.reviews__user-review {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.reviews__user-name {
  margin-top: 30px;
  margin-bottom: 5px;
}

.reviews__user-nickname {
  margin: 0;
  font-weight: 400;
}

.reviews__control {
  //width: 260px;
  //border: #ececec 1px solid;
  //text-align: center;
  //padding: 10px 0;
  margin-top: 33px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.reviews__button {
  width: calc(100%);
  background-color: #ffffff;
  border: #ececec 1px solid;
  min-height: 52px;
  cursor: pointer;

  svg {
    padding-top: 2px;
    padding-right: 8px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.reviews__link-send {
  display: block;
  max-width: 258px;
  text-align: center;
  padding: 14px 0;
  margin: 0 auto;
  text-transform: uppercase;
  //display: block;
  //margin-top: 38px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.reviews__link-wapper {
  margin-top: 38px;
}

@media (min-width: 768px) {
  .reviews {
    width: 768px;
    //padding-top: 35px;
    //background-image: url("../img/bg-zigzag-line.svg");
    //background-position: bottom;
    //background-repeat: repeat-x;
    //background-size: auto 17px;
    //padding-bottom: 108px;
    //z-index: 200;
    margin: 0 auto;

    &::after {
      display: block;
      content: "";
      background-image: url("../img/bg-zigzag-line.svg");
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: auto 6px;
      padding-bottom: 109px;
      z-index: 200;
    }
  }

  .reviews__container {
    padding-top: 45px;
    padding-bottom: 30px;
    width: 668px;
    margin: 0 auto;
    position: relative;
    margin-right: 51px;
    //background: url("../img/review@1x.jpg") no-repeat left;

    &::before {
      display: block;
      content: "";
      position: absolute;
      z-index: -1;
      top: 59px;
      left: -50px;
      width: 350px;
      min-height: 457px;
      background-image: url("../img/review@1x.jpg");
      background-color: #f3f3f3;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 39px;
    margin-top: 91px;
  }

  .reviews__user-review {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    padding-top: 10px;
  }

  .reviews__user-name {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
  }

  .reviews__user-nickname {
    margin: 0;
  }

  .reviews__control {
    position: absolute;
    right: -10px;
    bottom: 29px;
    //border: red 1px solid; !!
    border: none;
  }

  .reviews__button {
    //margin-right: 30px;
    border: none;

    &--next {
      margin: 0;
    }

    svg {
      padding-right: 23px;
    }
  }

  .reviews__link-send {
    padding: 14px 40px;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
  }

  .reviews__link-wapper {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    width: 176px;
    top: 139px;
    right: -1px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (min-width: 1250px) {
  .reviews {
    padding-top: 42px;
    padding-bottom: 0;
    width: 1050px;

    &::after {
      background-size: auto 23px;
    }
  }

  .reviews__container::before {
    left: 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    margin-left: 170px;
    padding-top: 45px;
  }

  .reviews__container {
    width: 1050px;
    padding-bottom: 82px;
    padding-top: 52px;
  }

  .reviews__user-review {
    margin-left: 175px;
    padding-top: 46px;
    width: 790px;
  }

  .reviews__user-name {
    margin-left: 175px;
    margin-top: 43px;
  }

  .reviews__user-nickname {
    margin-left: 175px;
  }

  .reviews__control {
    position: absolute;
    right: -9px;
    bottom: 84px;
  }
}
