@media (min-width: 1150px) {
  .page-main--noindex {
    margin-top: -75px;
    border-top: #e7e7e7 1px solid;
  }

  .page-header {
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 50px;

    .page-header__logo-container {
      order: 2;
      width: 160px;
      margin: 0;
    }

    .page-header__logo-image {
      margin: 0;
      padding-top: 5px;
      width: 160px;
    }
  }

  .site-list--noindex {
    margin: 0;
    display: flex;
    width: 430px;
    flex-wrap: wrap;
    order: 1;

    .site-list__item {
      width: 185px;
      font-size: 17px;
      padding: 33px 0;
      margin: 0;

      &:nth-child(2) {
        border-left: #e7e7e7 1px solid;
        padding-left: 34px;
      }

      &:nth-child(3) {
        display: block;
        font-size: 15px;
        padding-top: 15px;
      }

      &:nth-child(4) {
        display: block;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 34px;
      }

      &:nth-child(5) {
        display: none;
      }
    }
  }

  .user-list--noindex {
    margin: 0;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    order: 3;
    z-index: 90;
  }

  .user-list__item {
    width: 230px;
    font-size: 17px;
    padding: 0;

    &:nth-child(1) {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      padding-top: 33px;
      padding-left: 38px;
      margin-left: 0;
      padding-bottom: 30px;
    }

    &:nth-child(3) {
      display: block;
      padding-top: 20px;
    }
  }

  .user-list__search-icon {
    top: 25px;
  }

  .user-list__item--delivery .user-list__container {
    padding-left: 0;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .page-footer__social-list {
    width: 204px;
  }

  .page-footer__logo {
    width: 45%;
  }

  .page-footer__academy {
    width: 20%;
    padding-left: 240px;
  }
}
